//
//  @file
//  Components - Featured Teaser
//

//  Imports
@use 'partials' as *;

//  Base
.c-featured-teaser {
  display: flex;
  flex-flow: column nowrap;
  max-inline-size: 1140px;

  @include bp-min(tablet) {
    flex-flow: nowrap row;
  }
}

//  Media
.c-featured-teaser__media {
  align-items: center;
  aspect-ratio: 316/205;
  background: var(--me-color-white);
  border-radius: 12px;
  box-shadow: 4px 4px 32px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  flex-shrink: 0;
  inline-size: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 2;

  @include bp-min(tablet) {
    max-inline-size: 316px;
  }

  img {
    max-block-size: 225px;
    max-inline-size: 225px;
  }
}

//  Content
.c-featured-teaser__content {
  align-items: center;
  background-color: var(--me-color-stardust);
  color: var(--me-color-uranus);
  display: flex;
  margin-block-start: -12px;
  padding-block: 32px 20px;
  padding-inline: 20px;

  @include bp-min(tablet) {
    inline-size: calc(100% + 12px);
    margin-block-start: 0;
    margin-inline-start: -12px;
    padding-block: 24px;
    padding-inline: 52px 40px;
  }
}

//  Heading
.c-featured-teaser__heading.e-heading {
  font-weight: var(--me-fw-semibold);
  margin-block: 0;
  @include type-scale('heading', 'h4');

  a {
    color: var(--me-color-uranus);
  }

  a:hover,
  a:focus {
    color: var(--me-color-uranus);
  }
}
