@use "partials" as *;

// Default button style is Neptune
.button {
  @include type-scale(label, 18);
  align-items: center;
  background-color: var(--me-color-neptune);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  padding: 24px 40px;
  text-decoration: none;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  a,
  span {
    color: var(--me-color-white);
  }
}

.button__icon {
  display: inline-flex;
  height: rem(24px);
  width: rem(24px);

  svg {
    fill: var(--me-color-white);
  }
}
