//
// Elements - Links
//
// - 01 - Imports
// - 02 - General
//

//------------------------------------
//  01 - Imports
//------------------------------------

@use "partials" as *;

//------------------------------------
//  02 - General
//------------------------------------

a {
  color: var(--me-color-primary);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--me-color-secondary);
    text-decoration: none;
  }
}
