//
// @file
// Libraries - Global - Icons
//

//
//  Variables
//
$icons_path: "/modules/custom/mercury_editor_demo/images/svg";

:root {
  --me-i-controls: url("#{$icons_path}/controls.svg");
  --me-i-devices: url("#{$icons_path}/devices.svg");
  --me-i-drupal-logo: url("#{$icons_path}/drupal-logo.svg");
  --me-i-edit-content: url("#{$icons_path}/edit-content.svg");
  --me-i-edit-text: url("#{$icons_path}/edit-text.svg");
  --me-i-layout: url("#{$icons_path}/layout.svg");
  --me-i-rearrange: url("#{$icons_path}/rearrange.svg");
  --me-i-search: url("#{$icons_path}/search.svg");

  //Icons
  --me-i-arrow-white: url("#{$icons_path}/white-arrow.svg");
}

//
// General
//
.icon {
  background-color: var(--me-color-black);
  block-size: 32px;
  display: block;
  font: 0/0 transparent;
  inline-size: 32px;
  mask-size: cover;
}

//
//  Icons
//
.icon--controls {
  mask: var(--me-i-controls) no-repeat center;
}

.icon--devices {
  mask: var(--me-i-devices) no-repeat center;
}

.icon--drupal-logo {
  mask: var(--me-i-drupal-logo) no-repeat center;
}

.icon--edit-content {
  mask: var(--me-i-edit-content) no-repeat center;
}

.icon--edit-text {
  mask: var(--me-i-edit-text) no-repeat center;
}

.icon--layout {
  mask: var(--me-i-layout) no-repeat center;
}

.icon--rearrange {
  mask: var(--me-i-rearrange) no-repeat center;
}

.icon--search {
  mask: var(--me-i-search) no-repeat center;
}
