//
//  @file
//  Components - Card
//

//  Imports
@use 'partials' as *;

//  Base
.c-card {
  background-color: var(--me-color-stardust);
  border-radius: 12px;
  max-inline-size: 640px;
  padding-block: 48px;
  padding-inline: 48px;
}

//  Content
.c-card__content {
  display: flex;
  flex-flow: nowrap column;
  gap: 20px;
}

//  Heading
.c-card__heading {
  color: var(--me-color-nebula);
  margin-block: 0;
  @include type-scale('heading', 'h3');
}

//  Text
.c-card__text {
  color: var(--me-color-nebula);
  @include type-scale('body', 'base');

  p {
    margin-block: 0;
  }
}