//
//  @file
//  Elements - Heading
//

//  Imports
@use 'partials' as *;

//  Base
[class*="e-heading"] {
  h2, h3 {
    color: var(--me-color-nebula);
    font-family: var(--me-ff-base);
    font-weight: var(--me-fw-bold);
    margin: 0;
    @include type-scale('heading', 'h2');
  }
}
