{#
/**
 * @file
 * Components -  Card
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any custom attributes needed for this component.
 * - heading: [string] The value of the card heading.
 * - text: [string] The value of the card text.
 * - link: [array] An associative array containing the values for the card link:
 *   - href: [string] The value of the link path or URL.
 *   - text: [string] The value of the link text.
 */
#}

{% set attributes = create_attribute(attributes) %}

{% set classes = [
  'c-card',
] %}

<div {{attributes.addClass(classes)}}>
  <div class="c-card__content">
    {% if heading is not empty %}
      {{ include('mercury_editor_demo:heading', {
        attributes: {
          class: 'c-card__heading',
        },
        level: 'h3',
        text: heading,
      }, with_context = false) }}
    {% endif %}

    {% if text is not empty %}
      <div class="c-card__text">{{ text }}</div>
    {% endif %}

    {% if link is not empty %}
      {{ include('mercury_editor_demo:button', {
        attributes: {
          class: 'c-card__button',
        },
        href: link.href,
        text: link.text,
        style: 'primary',
        color: 'neptune',
        icon_suffix: 'arrow-right',
      }, with_context = false) }}
    {% endif %}
  </div>
</div>
