.c-featured-card {
  border-radius: 12px;
  max-width: 640px;
  overflow: hidden;
}

.c-featured-card__media {
  background: var(--me-gradient-gray);
  align-items: center;
  aspect-ratio: 133/86;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.c-featured-card__media img {
  max-height: 225px;
  max-width: 225px;
}

.c-featured-card__content {
  padding-top: 24px;
  padding-bottom: 0;
}
@container (inline-size > 400px) {
  .c-featured-card__content {
    background-color: var(--me-color-neptune);
    color: var(--me-color-white);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.c-featured-card__heading.e-heading {
  font-weight: var(--me-fw-semibold);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--me-fs-heading-h6);
  line-height: var(--me-lh-heading-h6);
}
@container (inline-size > 400px) {
  .c-featured-card__heading.e-heading {
    font-weight: var(--me-fw-bold);
    font-size: var(--me-fs-heading-h5);
    line-height: var(--me-lh-heading-h5);
  }
}
@container (inline-size > 400px) {
  .c-featured-card__heading.e-heading a {
    color: var(--me-color-white);
  }
}
@container (inline-size > 400px) {
  .c-featured-card__heading.e-heading a:hover,
  .c-featured-card__heading.e-heading a:focus {
    color: var(--me-color-white);
  }
}