{#
/**
 * @file
 * Components - Featured Card
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any custom attributes needed for this component.
 * - media: [string] The value of the media element, such as an image or video.
 * - heading: [string] The value of the featured card heading.
 * - href: [string] The value of the link path or URL for the heading
 */
#}

{% set attributes = create_attribute(attributes) %}

{% set classes = [
  'c-featured-card',
] %}

<div {{attributes.addClass(classes)}}>
  {% if media is not empty %}
    <div class="c-featured-card__media">
      {{ media }}
    </div>
  {% endif %}

  <div class="c-featured-card__content">
    {% if heading is not empty %}
      {{ include('mercury_editor_demo:heading', {
        attributes: {
          class: 'c-featured-card__heading',
        },
        level: 'h3',
        href: href|default(''),
        text: heading,
      }, with_context = false) }}
    {% endif %}
  </div>
</div>
