{#
/**
 * @file
 * Elements - Icon
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any custom attributes needed for this component.
 * - id: [string] The value of the display of an icon.
 *
 */
#}

{% set attributes = create_attribute(attributes) %}

{% set classes = [
  'e-icon',
  'e-icon--' ~ id,
] %}

<div {{ attributes.addClass(classes) }} aria-hidden="true"></div>
