{#
/**
 * @file
 * Card Component
 *
 * A flexible card component with title, image, and description.
 *
 * Available props:
 * - title: Card title (required)
 * - image: Image object with url, alt, width, height
 * - text: Card description text
 * - link: Optional link object with url, title, target
 */
#}

{% set attributes = create_attribute() %}

{% set classes = [
  'me-feature-card',
] %}

<div {{attributes.addClass(classes)}}>
  {% if media %}
    <div class="me-feature-card__media">
      {{media}}
    </div>
  {% endif %}

  <div class="me-feature-card__body">
    <h3 class="me-feature-card__title">
      <a class="me-feature-card__link" href="{{ link.url }}">
        {{ title }}
      </a>
    </h3>
  </div>
</div>
