//
//  @file
//  Pages - Full
//

//  Imports
@use 'partials' as *;

//  Base
.p-full {
  container: page / inline-size;

  @include bp-min(lg-desktop) {
    inline-size: 1140px;
  }

  .layout {
    display: grid;
    gap: 40px;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  .layout--twocol {
    grid-template-columns: minmax(0, 1fr);

    @include bp-min(lg-tablet) {
      grid-template-columns: none;
      grid-template-areas: 'first second';
    }

    &:has(> .layout__region--top) {
      @include bp-min(lg-tablet) {
        grid-template-areas:
          'top top'
          'first second';
      }
    }

    &:has(> .layout__region--bottom) {
      @include bp-min(lg-tablet) {
        grid-template-areas:
          'first second'
          'bottom bottom';
      }
    }

    &:has(> .layout__region--top):has(> .layout__region--bottom) {
      @include bp-min(lg-tablet) {
        grid-template-areas:
          'top top'
          'first second'
          'bottom bottom';
      }
    }

    > .layout__region--top {
      @include bp-min(lg-tablet) {
        grid-area: top;
      }
    }

    > .layout__region--first {
      @include bp-min(lg-tablet) {
        grid-area: first;
      }
    }

    > .layout__region--second {
      @include bp-min(lg-tablet) {
        grid-area: second;
      }
    }

    > .layout__region--bottom {
      @include bp-min(lg-tablet) {
        grid-area: bottom;
      }
    }
  }

  .layout--threecol-33-34-33 {
    grid-template-columns: minmax(0, 1fr);
    
    @include bp-min(tablet) {
      grid-template-columns: none;
      grid-template-areas: 'first second third';
    }

    &:has(> .layout__region--top) {
      @include bp-min(tablet) {
        grid-template-areas:
          'top top top'
          'first second third';
      }
    }

    &:has(> .layout__region--bottom) {
      @include bp-min(tablet) {
        grid-template-areas:
          'first second third'
          'bottom bottom bottom';
      }
    }

    &:has(> .layout__region--top):has(> .layout__region--bottom) {
      @include bp-min(tablet) {
        grid-template-areas:
          'top top top'
          'first second third'
          'bottom bottom bottom';
      }
    }

    > .layout__region--top {
      @include bp-min(tablet) {
        grid-area: top;
      }
    }

    > .layout__region--first {
      @include bp-min(tablet) {
        grid-area: first;
      }
    }

    > .layout__region--second {
      @include bp-min(tablet) {
        grid-area: second;
      }
    }

    > .layout__region--third {
      @include bp-min(tablet) {
        grid-area: third;
      }
    }

    > .layout__region--bottom {
      @include bp-min(tablet) {
        grid-area: bottom;
      }
    }
  }

  .layout__region {
    container: column / inline-size;
    display: grid;
    gap: 40px;
  }
}

//  Layouts
.p-full__content--flex-column {
  display: flex;
  flex-flow: nowrap column;
  gap: 40px;

  > .field__items {
    display: flex;
    flex-flow: nowrap column;
    gap: 40px;
  }
}

//  Mercury Editor Overrides
.p-full .js-lpb-component-list {
  .js-lpb-component {
    margin-inline: 0;
  }

  > .js-lpb-component {
    margin-block-start: 40px;
  }

  > .js-lpb-component:first-child {
    margin-block-start: 0;
  }
}
