//
//  @file
//  Components - Slideshow
//

//  Imports
@use 'partials' as *;
@use '../../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';

//  Base
.c-slideshow {

}

//  Slides
.c-slideshow__slide {
  aspect-ratio: 19 / 12;
  align-items: center;
  background: var(--me-gradient-gray);
  display: flex;
  justify-content: center;
  max-block-size: 720px;

  .media {
    max-block-size: 660px;
    max-inline-size: 660px;
  }
}

//  Navigation
.c-slideshow__navigation {
  inline-size: fit-content;
  margin-block: 56px 0;
  margin-inline: auto;
  position: relative;
}

//  Pagination
.c-slideshow__pagination {
  gap: 20px;
  
  button {
    appearance: none;
    background: var(--me-color-uranus);
    block-size: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    inline-size: 16px;

    &.is-active {
      background: var(--me-color-mercury);
    }
  }
}

//  Arrows
.c-slideshow__arrows {
  block-size: 48px;
  display: flex;
  inline-size: calc(100% + 176px);
  inset-block: -16px;
  inset-inline: -88px;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;

  .splide__arrow {
    align-items: center;
    appearance: none;
    background: none;
    block-size: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    inline-size: 48px;
    justify-content: center;
    pointer-events: auto;

    &:after {
      content: '';
      background-color: var(--me-color-uranus);
      display: block;
      block-size: 40px;
      inline-size: 40px;
      mask-image: var(--me-i-arrow-right);
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  .splide__arrow--prev {
    &:after { transform: rotate(180deg); }
  }

  .splide__arrow svg {
    display: none;
  }
}
