{#
/**
 * @file
 * Components - Divider
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any custom attributes needed for this component.
 * - size: [string] The size of the divider. Options: small, medium, large.
 * - style: [string] The style of the divider. Options: solid, dashed, dotted.
 */
#}

{% set attributes = create_attribute(attributes) %}

{% set classes = [
  'e-divider',
  size ? 'e-divider--' ~ size,
  style ? 'e-divider--' ~ style,
] %}

<div {{ attributes.addClass(classes) }}>
  <hr />
</div>