.c-teaser {
  max-width: 640px;
  overflow: hidden;
}

.c-teaser__media {
  align-items: center;
  aspect-ratio: 133/86;
  background: var(--me-gradient-gray);
  border-radius: 12px;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.c-teaser__media img {
  max-height: 100px;
  max-width: 100px;
}
@container (inline-size > 300px) {
  .c-teaser__media img {
    max-height: 225px;
    max-width: 225px;
  }
}

.c-teaser__content {
  padding-top: 24px;
  padding-bottom: 0;
}

.c-teaser__heading.e-heading {
  font-weight: var(--me-fw-semibold);
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--me-fs-heading-h6);
  line-height: var(--me-lh-heading-h6);
}