{#
/**
 * @file
 * Components - Slideshow
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any custom attributes needed for this component.
 * - slides: [array] Array of rendered media items, one per slide.
 */
#}

{% set attributes = create_attribute(attributes) %}

{% set classes = [
  'c-slideshow',
  'splide',
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="c-slideshow__track splide__track">
    <ul class="c-slideshow__list splide__list">
      {% for slide in slides %}
        <li class="c-slideshow__slide splide__slide">
          {{ slide }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="c-slideshow__navigation">
    <div class="c-slideshow__arrows splide__arrows"></div>
    <ul class="c-slideshow__pagination splide__pagination"></ul>
  </div>
</div>
